@model IEnumerable<Employee>

@{
    ViewData["Title"] = "All Employee";
    string VDataMessage = ViewData["Message"] as string; // view data Enforce Type saftey --> Requires casting strongly typed
    string VBagMeassage = ViewBag.Message; // doesnt Enforce Type saftey -->  doesnt Requires casting weakly  typed
    //view data is quicker than 
}

@*<div class="alert alert-success">
    @ViewData["message"]
    <br />
    @ViewBag.Message
</div>*@
<h1>All Departments</h1>
<br />
<br />
<a asp-action="Create" class="btn btn-primary">Create New Employee</a> <!-- asp-controller="Department"  im in the same controller no need to this line -->
@if(Model.Count() >0)
{
    <table class="mt-3 table table-striped table-hover">
        <tr>
            <td>@Html.DisplayNameFor(E => E.Name)</td>
            <td>@Html.DisplayNameFor(E => E.Age)</td>
            <td>@Html.DisplayNameFor(E => E.Address)</td>  
            <td>@Html.DisplayNameFor(E => E.Department)</td>
            <td>@Html.DisplayNameFor(E => E.Salary)</td>
            <td>@Html.DisplayNameFor(E => E.IsActive)</td>
            <td>@Html.DisplayNameFor(E => E.Email)</td>
            <td>@Html.DisplayNameFor(E => E.Phone)</td>
            <td>@Html.DisplayNameFor(E => E.HireDate)</td>
            <td>Details</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
            @foreach(var employee in Model)
            {
            <tbody>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
                <td>@employee.Address</td>
            <td>@Html.DisplayFor(m => employee.Department.Name)</td>
                <td>@employee.Salary</td>
                <td>@employee.IsActive</td>
                <td>@employee.Email</td>
                <td>@employee.Phone</td>
                <td>@employee.HireDate.Date</td>
    
                 <td>
                    <a asp-controller="employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning">
                        <i class="fas fa-eye"></i> Details
                        </a>
                </td>

                <td>
                    <a asp-controller="employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-success">
                        <i class="fas fa-edit"></i> Update
                    </a>
                </td>

                <td>
                    <a asp-controller="employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">
                        <i class="fas fa-eye"></i> Delete
                    </a>
                </td>
         </tbody>
            }

    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is no employees</h3>
    </div>
}